<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VoltageImageCollection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>322B6F191C4665E0001774AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>322B6F351C4665E1001774AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>322B6F401C4665E1001774AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
